<h1>Rules - Result</h1>
<p>This is the JSON object for the rules you selected. You can copy and paste this into your config file.</p>

<p>
  <code>
    <%= "rules: {\r\n
     #{@result}\r\n
    }" %>
  </code>
</p>

<%= link_to("Return to rule selection screen. (Current settings will be lost)", {:action => "index"}) %>

